<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">
        <button mat-raised-button class="btn btn-danger">Add</button>

        <div class="card card-plain">
          <div class="card-header card-header-danger">
            <h4 class="card-title mt-0">Users</h4>
            <p class="card-category">you can manage users profile here</p>
          </div>
          <div class="card-body">

            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="">
                  <th>
                    User Id
                  </th>
                  <th>
                    Full Name
                  </th>
                  <th>
                    User Type
                  </th>
                  <th>
                    Email
                  </th>
                  <th>
                    User Id
                  </th>

                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>